*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,body{
    width: 100%;
    height: 100% ;
}

#main
{
    height: 100%;
    width: 100%;
    background-color: F8F8F8;
    position: relative;
    padding-top: 1px;
}

#nav
{
    height: 11vh;
    width: 100%;
    /* background-color: red; */
    margin-top: 40px; 
    border-top: 2px solid black;
    border-bottom: 2px solid black ;
    display: flex;
    align-items: center;
    justify-content: space-between ;
}

#nav h2{
    /* background-color: rgb(135, 135, 235); */
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid black;
    font-size: 25px;
    font-weight: 600;
}

#nav h1{
    /* background-color: rgb(135, 135, 235); */
    height: 100%;
    width: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monument;
    font-size: 45px;
    letter-spacing: -2px;
}

#nav h2:nth-last-child(1)
{
    width: 29%;
}

#center
{
    height: 80%;
    width: 100%;
    /* background-color: red; */
    position: relative;
    padding: 4vw;
}

#content
{
    height: 100%;
    width: 100%;
    background-color: blue;
    position: relative;
}

#content video
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay
{
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: green;
    color: white;
}

#over1
{
    padding: 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom:2vw ; */
    
}

#over2
{
    border-top: 3px solid white;
    padding: 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 3vw;
    
}

#over1 h1{
    font-family: monument;
    font-size: 3.5vw;
    font-weight: 700;
    mix-blend-mode: difference;
}

#over1 h2{
    font-family: monument;
    padding: 2vw 2vw ;
    font-size: 2vw;
    font-weight: 700;
    /* background-color: blue; */
    border-radius: 50%;
    border: 1px solid white;
    border-bottom: 5px solid white;
}

#over2 h4{
    font-size: 1.5vw;
    font-weight: 300;
}

#over2 img
{
    height: 3vw;
}
#scroll
{
    height: 30vh;
    width: 100%;
    /* background-color: red; */
    white-space: nowrap;
    /* overflow-x: hidden; */
    overflow-y: hidden;

}

#scroll img{
    /* display: none; */
    height: 75%;
    border-radius: 50%;
    width: 12%;
    object-fit: cover;
    object-position: top;
    margin: 2vw;
}

#container
{
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    display: inline-block;
    padding: 2vw;
    animation-name: anime;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes anime
{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#alphabet
{
    height: 9vw;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#alphabet h5{
    font-size: 2vw;
    font-weight: 400;
    font-style: italic;
    border-bottom: 2px solid black;
    letter-spacing: 4px;
    margin-right: 2vw;
    
}

#page2
{
    height: 100%;
    width: 100%;
}

#alphabet h6{
    font-size: 1vw;
    font-weight: 400;
    font-style: italic;
    padding: 0.3vw 0.5vw;
    /* background-color: yellow; */
    border-radius: 50%;
    letter-spacing: 4px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: all ease 0.2s;
}

#alphabet h6:hover
{
    border: 1px solid rgb(0, 0, 0);
    
}

#page2
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
