*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monument;
}

html,body
{
    width: 100%;
    height: 100%;
}

body{
    overflow-x: hidden;
}

#page1
{
    width: 100%;
    height: 100%;
    background-color: black;
}

#page2
{
    width: 100%;
    height: 100%;
    background-color: rgb(112, 53, 215);
}

#page3
{
    width: 100%;
    height: 100%;
    background-color: black;
}

#page2 h1
{
    font-size: 50vw;
    font-weight: 600;
}