*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: work sans ,sans-serif;
    
}

html,body 
{
    width: 100%;
    height: 100%;

}

#main
{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: flex-end;
    /* justify-content: space-between; */
    padding: 0px 80px;
    padding-top: 150px;
    gap: 150px;
}

#left
{
    height: 100%;
    width: 45%;
    /* background-color: rgb(255, 0, 0); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
}


#left h1
{
    font-size: 180px;
    font-weight: 500;
    font-family: work sans , serif;
    line-height: 190px;
    
}

#bottom-left
{
    /* background-color: yellow; */
    width: 100%;
    /* height: 40%; */
}

#color h5{
    font-size: 20px;
    margin-right: 10px;
    font-weight: 600;
}


#color
{
    /* background-color: blue; */
    width: fit-content;
    padding: 8px 15px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid black;
    
    
}

#color1
{
    height: 20px;
    width: 20px;
    background-color: burlywood;
    border-radius: 50%;
    margin: 5px;
}
#color2
{
    height: 20px;
    width: 20px;
    background-color: rgb(125, 83, 28);
    border-radius: 50%;
    margin: 5px;

}

#left h2
{
    margin-top: 50px;
    font-size: 30px;
    margin-bottom: 15px;
}

#left p
{
    font-size: 20px;
    width: 65%;
    font-weight: 600;
    color: #444;
    line-height: 26px;
}

#right
{
    height: 90%;
    width: 33%;
    /* background-color: rgb(60, 0, 255); */
    position: relative;
}

#right-top
{
    height: 50px;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    
}

#right-top h4{
    font-size: 25px;
    font-weight: 500;
    
    
}
#right-top h5{
    font-size: 20px;
}

#right-top h5 i{
    color: goldenrod;
    
}

#right img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#black
{
    height: 200px;
    width: 200px;
    background-color: #1c1010;
    color: white;
    border-radius: 50%;
    right: -18%;
    top: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

#black h5{
    font-size: 30px;
    font-weight: 500;
}

#rotated
{
    position: absolute;
    left: -8%;
    bottom: 15%;
    /* background-color: red; */
    rotate: -90deg;
    transform-origin: 0 0;
    font-size: 30px;
    font-weight: 500;
}