*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body 
{
    height: 100%;
    width: 100%;
}


#parent
{
    height: 100%;
    width: 100%;
    background-color: lightgreen;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* flex-direction: column; */
    flex-wrap: wrap;
}

.child
{
    height: 250px;
    width: 250px;
    background-color: rgb(255, 0, 51);
    border: 2px solid black;
}