*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body
{
    height: 100%;
    width: 100%;
}

body
{
    padding: 100px;
}

textarea{
    width:400px;
    height: 100px;
    font-size: 18px;
    border: 1px solid black;
    font-weight: 700;
    outline-color: royalblue;
    resize: none;
    padding: 10px;
}