*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#page1
{
    height: 100vh;
    width: 100%;
    background-color: red;
}

#page2
{
    height: 100vh;
    width: 100%;
    background-color: rgb(91, 21, 40);
}

#page3
{
    height: 100vh;
    width: 100%;
    background-color: rgb(19, 56, 106);
}

#page2 #imgdiv
{
    height: 100%;
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}



#imgdiv img
{
    width: 100%;
    height: 100%;
    object-fit: cover ;
    scale: 1.2;
}